<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ToDoList</title>
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <div id="heading" class="box">
    <h1>ToDoList</h1>
  </div>
  <div class="box">
    <% for (var i = 0; i < ejes.length; i++) { %>
      <div class="item">
        <input type="checkbox" onclick="deleteTask('<%= ejes[i] %>')" />
        <p><%= ejes[i] %></p>
        <button type="submit" onclick="editTask('<%= ejes[i] %>')">Edit</button>
      </div>
    <% } %>
   <form onsubmit="addTask(event)">
    <input type="text" name="ele1" placeholder="Enter the task" required />
    <button type="submit">+</button>
  </form>
  </div>

 <script>

 function addTask(event) {
    const ele1 = document.querySelector('input[name=ele1]').value;
    fetch("/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({ele1})
    }).then(res => res.json())
    .then(data => {
      if (data.success) {
        location.reload();
        alert("Task added successfully");
      }
      else {
        alert("Failed to add task");
      }
    });
  };

    function deleteTask(task) {
      fetch("/delete", {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ task: task })
      }).then(res => { if (res.ok) {
          location.reload();
          alert("Task deleted successfully")
        } else {
          alert("Failed to delete task");
        }
      });
    }

  function editTask(oldTask) {
    const newTask = prompt("Edit the task:", oldTask);
    if (!newTask || newTask === oldTask) return;
        fetch('/edit', {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ oldTask, newTask })
        }).then(res => res.json())
        .then(data => {
          if (data.success) {
            location.reload();
            alert("Task updated successfully");
          } else {
            alert("Failed to update task.");
          }
        });
      };

  </script>

</body>
</html>
